body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:   plum;
}

.container {
    text-align: center;
}

#timerDisplay {
    font-size: 2em;
    margin-top: 20px;
}